footer p {
	display: inline;
	margin-left: 10px;
}

footer a {
	color: inherit;
}

.footer {
    position: !block;
    bottom: 0;
    width: 100%;
    height: 30px;
    color: #333;
    background: #fff;
}
