<footer class="footer text-xs-center form-fooder">
	<p class="text-muted">
		<small>&copy; 2019 by Phemt</small>
	</p>
	<p class="text-muted">
		<a href="#"><small>Termini &amp; Condizioni</small> </a>
	</p>
	<p class="text-muted">
		<a href="#"><small>test1</small></a>
	</p>
	<p class="text-muted">
		<a href="#"><small>Test2</small></a>
	</p>
</footer>
