<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <!-- Inizio Elementi Menù -->
    <a class="navbar-brand" href="/">AlphaShop</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item active">
        <a class="nav-link" routerLink="/index">
          <span class="oi oi-home" title="home" aria-hidden="true"></span>
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/articoli" >
          <span class="oi oi-box" title="prodotti" aria-hidden="true"></span>
          Prodotti
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/promozioni">
          <span class="oi oi-bullhorn" title="promozioni" aria-hidden="true"></span>
          Promozioni
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fidelity">
          <span class="oi oi-credit-card" title="punti" aria-hidden="true"></span>
          Fidelity
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/clienti">
          <span class="oi oi-people" title="clienti" aria-hidden="true"></span>
          <span class="badge"></span>
          Clienti
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ordini">
          <span class="oi oi-cart" title="ordini" aria-hidden="true"></span>
          <span class="badge"></span>
          Ordini
        </a>
      </li>
    </ul>

    <!-- Search Box -->
    <form class="form-inline my-2 my-lg-0">
        <input type="text" class="form-control mr-sm-2" name="argomento">
        <input type="submit" id="submit" class="btn btn-outline-success my-2 my-sm-0" value="Cerca">
    </form>

    <!-- dropdown menu -->
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle thumbnail"
              type="button"
              id="dropdownMenu1"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="true">
              <img class="img-circle" src="/assets/images/offline_user.png">
              <span class="caret"></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item" href="/login">Accedi</a>
            <a class="dropdown-item" href="/register">Registrati</a>
              <div class="dropdown-divider"></div>
                <form id="myHiddenFormId" action="" method="post" style="display: none">
                  <input type="hidden" name="logout" value="${User}">
                  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                </form>
            <a class="dropdown-item" *ngIf="BasicAuth.isLogged()" href="" onclick="$('#myHiddenFormId').submit(); return false;" title="Logout">Logout {{BasicAuth.loggedUser()}}</a>
            <a class="dropdown-item disabled" *ngIf="!BasicAuth.isLogged()" href="" title="Logout">Logout</a>

          </div>
    </div>
     <!-- Fine dropdown menu -->
    </div>
</nav>
