/* .login-container{
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 35%;

}
.login-form{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form h3{
    text-align: center;
    color: #333;
}
.login-container form{
    padding: 8%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 0.5rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
} */
