<app-jumbotron [Titolo]="'Articoli Disponibili'" [SottoTitolo]="'Test extra'" [Show]="false" ></app-jumbotron>


<table id="articoli" border="1">
  <caption>Alimentari</caption>
  <thead>
    <tr>
      <th>CodArt</th>
      <th>Descrizione</th>
      <th>Um</th>
      <th>Pezzi</th>
      <th>Peso(Kg/Lt)</th>
      <th>Prezzo</th>
      <th>Attivo</th>
      <th>Data</th>
    </tr>

  </thead>
  <tbody>
    <tr *ngFor="let articolo of articoli">
      <td>{{articolo.codart}}</td>
      <td>{{articolo.descrizione}}</td>
      <td>{{articolo.um}}</td>
      <td>{{articolo.pzcart}}</td>
      <td>{{articolo.peso}}</td>
      <td>{{articolo.prezzo}}</td>
      <td>{{articolo.isactive}}</td>
      <td>{{articolo.data | date}}</td>
    </tr>
  </tbody>

</table>
