<!--The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    {{ saluti }}
  </h1>
  <h3>
    {{ titolo2 }}
  </h3>
</div>


<app-welcome></app-welcome>
-->
<app-navbar></app-navbar>
<br>
<br>

<router-outlet></router-outlet>
<br>
<br>

<app-footer></app-footer>

<!--
  <app-login></app-login>
-->
