<app-jumbotron [Titolo]="'Benvenuto in Alphastore'" [SottoTitolo]="'Sottotitolo 2'" [Show]="false"></app-jumbotron>



<div>
  Ciao  {{utente}}. Clicca <a href="/articoli">qui</a> per gli articoli
</div>
