<div class="jumbotron jumbotron-billboard">
		<div class="img"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>{{Titolo}}</h2>
					<p>{{SottoTitolo}}</p>
					<ng-container *ngIf="Show">
						<a href="" id="SignUp" class="btn btn btn-primary btn-lg">Accedi</a>
						<a href="" id="SignIn" class="btn btn-success btn-lg">Registrati</a>
					</ng-container>
				</div>
			</div>
		</div>
	</div>
